@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: white;
}



.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-in {
  animation: fade 0.5s;
}


@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.mainbg {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.708) 3%, rgba(0, 0, 0, 0.347) 49%, rgba(0, 0, 0, 0.703) 97%);
  
  
}
/* background: linear-gradient(to bottom, black 25%, transparent 75%); */

.gradient-black {
  background: linear-gradient(to bottom, rgba(0,0,0,1) 60%, transparent 40%);
}

  /* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  } */
